/* global rules  */
body {
    position: relative;
}

@media screen and (max-width: 1005px) {
    header .container {
        width: 100%;
    }
}

header {
    position: fixed;
    width: 100%;
    padding: 0 5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* computer menu style start  */

.container .menu .computer-menu {
    display: flex;
}

.container .computer-menu .logo {
    display: flex;
    align-items: center;
}

.container .computer-menu .logo img {
    width: 70px;
}

.container .computer-menu .logo h2 {
    color: var(--color);
    font-weight: 400;
    transform: translate(-10px, 1px);
    -webkit-transform: translate(-10px, 1px);
    -moz-transform: translate(-10px, 1px);
    -ms-transform: translate(-10px, 1px);
    -o-transform: translate(-10px, 1px);
}

.container .computer-menu .links {
    display: flex;
    align-items: center;
}

.container .computer-menu .links ul {
    display: flex;
}

.container .computer-menu .links ul li {
    list-style: none;
}

.container .computer-menu .links ul li a {
    color: unset;
    text-decoration: none;
    margin-left: 16px;
}

.container .computer-menu .links ul li a:hover {
    color: var(--color);
}

.container .functions a {
    color: unset;
    margin-left: 13px;
    font-size: 18px;
}

/* computer menu style end  */

/* mobile menu style start*/
.container .mobile-menu .menu-icon {
    cursor: pointer;
    border: none;
    display: none;
}
.mobile-menu .logo-mobile #menu-icon-id {
    color: var(--color);
    transform: translate(37px, -1px);
}

@media screen and (min-width: 1110px) {

    .container .computer-menu .logo,
    .container .computer-menu .links {
        display: flex;
    }

    .container .mobile-menu .menu-icon {
        display: none;
    }

    .mobile-menu .mobile-menu-container {
        display: none;
    }
}

@media screen and (max-width: 1111px) {

    .container .computer-menu .logo,
    .container .computer-menu .links {
        display: none;
    }

    .container .mobile-menu .menu-icon {
        display: flex;
    }
}

.mobile-menu .mobile-menu-container {
    background-color: white;
    position: absolute;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 1053px;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.mobile-menu .mobile-menu-container .logo-mobile {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1
}

.mobile-menu .mobile-menu-container .logo-mobile img {
    width: 70px;
}

.mobile-menu .mobile-menu-container .logo-mobile h2 {
    color: var(--color);
    font-weight: 400;
    transform: translate(-10px, 1px);
    -webkit-transform: translate(-10px, 1px);
    -moz-transform: translate(-10px, 1px);
    -ms-transform: translate(-10px, 1px);
    -o-transform: translate(-10px, 1px);
}

.mobile-menu .mobile-menu-container .links-mobile {
    width: 100%;
}

.mobile-menu-container .links-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.mobile-menu-container .links-mobile ul li {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    position: relative;
}

.mobile-menu-container .links-mobile ul li a {
    color: unset;
    text-decoration: none;
    transition: margin 0.3s;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -ms-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    position: absolute;
    top: 14px;
}

.mobile-menu-container .links-mobile ul li a:hover {
    margin-left: 7px;
}

.mobile-menu .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* mobile menu style end*/