/* global rules start*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color: #2ea6af;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*media query start*/
/* very small screens  */
@media (min-width: 400px) {
    .container {
        width: 500px;
    }
}

/* small screens*/
@media (min-width: 768px) {
    .container {
        width: 850px;
    }
}

/* medium screens  */
@media (min-width: 992px) {
    .container {
        width: 1000px;
    }
}

/* large screens  */
@media (min-width: 1300px) {
    .container {
        width: 1294px;
    }
}

/*media query end*/

/* global rules end*/

